.ratings-reviews{
    .reviewed-ratings-details{
        .ant-card-body{
            padding-bottom: 15px !important;
        }
        &:hover{
            background-color: #EFF0F7 !important;
        }
        
    }
    .review-ratings::-webkit-scrollbar{  
        display: none !important;
    
    }
    
    .review-care-homes{
        @media only screen and (max-width:1830px) and (min-width:280px) {
        .review-care-homes-details{
         margin-left: 0 !important;
        }
    }
    }
    
    @media only screen and (max-width:2000px) and (min-width:1480px) {
        .client-average-ratings{
            padding-left: 40px !important;
        }
    }
    @media only screen and (max-width:1830px) and (min-width:180px) {
        .review-care-homes{
            display: block !important;
            img{
                display: block;
                margin: auto !important;
            }
        }
    }
}
