@import "../../../sass/variables";
.header-image {
  background-image: url("../../../assets/images/Header/h-custom-order-1.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-content {
  text-align: center;
}
.image-heading-title{
  color: #FFFFFF;
  margin-top: 0px;
  font-size: 2rem;
  line-height: 1.25em;
  font-family: "Lexend Giga", Sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
.image-heading-title-custom {
  color: #FFFFFF;
  margin-top: 0px;
  font-size: 2rem;
  line-height: 1.25em;
  font-family: "Lexend Giga", Sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.image-heading-subheading {
  font-family: "Lexend Giga", Sans-Serif;
  font-size: 1.5rem;
  line-height: 1.25em;
  letter-spacing: 0em;
  font-weight: 100;
  text-align: center;
  color: #FFFFFF;
}
.product-card-details{
  .ant-card-body{
    background-color: #000000;
  }
  .ant-card-meta-title{
    color: #FFFFFF;
    font-weight: 700;
  }
  .ant-card-meta-description{
    color: #FFFFFF;
  }
  p{
    color: #FFFFFF;
  }
}

.select-onboarding{
  .ant-select-selector{
    background: $white-color;
    border: 1px solid #D9DBE9;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
  }
  .ant-select-selection-item{
    color: #000000;
  }
}