.product-title{
    font-family: "Black Mango", Sans-serif;
    font-size: 2rem;
    font-weight: 700;
     color: #000000;
}
.carousel .slide{
  height: 60vh !important;
}
.carousel .slide img{
  height: 80vh !important;
}
.collapse-shoe{
  
  .ant-collapse-header-text{
  color: white;
    font-size: medium;
  }
}

  .select-size{
    .ant-select-selector{
      background: #FE5C36 !important;
      border-radius: 20px;
      border: 0px solid transparent !important;
      padding: 6px 11px !important;
      height: 40px !important;
      .ant-select-selection-item{
        font-size: medium !important;
        color: white;
      }
    }
  
  }
.add-to-cart {
  // background: linear-gradient(135deg, rgba(68,68,68,1) 6%, rgba(0,0,0,1) 95%)!important;
  // border-radius: 27px;

}
.product-description{
    font-family: "Lexend Giga", Sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}
.product-price{
    color: #000000;
    font-family: "Black Mango", Sans-serif;
    font-size: 1.5rem;
    text-align: left;
}.drawer-details{
  .anticon svg{
    // color: white !important;
  }
   background: linear-gradient(135deg, rgba(68,68,68,1) 6%, rgba(0,0,0,1) 95%)!important;;
   .view-cart{
    background: linear-gradient(135deg, rgba(68,68,68,1) 6%, rgba(0,0,0,1) 95%)!important;
    // border-radius: 27px;
    // color: white;
    border: 0px solid transparent !important;
   }
  // .view-cart:hover {
  //   background-color: #ffffff;
  // }
}
