@import "../../../sass/variables";

.setting-job-role {
  padding: 0px 30px;
  .header {
    background-color: white;
    padding: 15px;
    margin-bottom: 18px;

    @media only screen and (max-width: 500px) {
      padding: 10px;
    }

    .add-job-role-btn {
      color: #6E7191;
      box-shadow: 0px 0px 3px rgba(101, 205, 240, 0.15);
      border: solid 3px transparent;
      background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #69BBD7, #65CDF0);
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-shadow: 2px 1000px 1px #fff inset;
      height: 50px;
      width: 200px;
      margin-bottom: 30px;

      @media only screen and (max-width: 500px) {
        width: 100%;
      }

      svg {
        color: #65CDF0;
        box-shadow: 0px 0px 3px 0px #61C8EB;
        border-radius: 50%;
        font-size: 20px;
      }

    }

    label {
      color: #4E4B66;
    }

    .ant-select-single {
      width: 250px;

      @media only screen and (max-width: 500px) {
        width: 100%;
      }
    }

    .ant-select-single .ant-select-selector {
      // margin-top: 4px;
      height: 40px;
      align-items: center;
      border-radius: 4px;
      text-transform: capitalize;
    }

    .ant-select .ant-select-arrow {
      padding-top: 5px;
    }

    .ant-select .ant-select-arrow .anticon>svg {
      color: #6E7191;
    }
  }

  .filter-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0;

    ul {
      margin-top: 0 !important;
    }

    .input-export-icons {
      .search-input {
        width: 345px;

        @media screen and (max-width:1100px) {
          width: 100% !important;
        }
      }

    }


    @media screen and (max-width:980px) {
      // flex-direction: column-reverse;

      .input-export-icons {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    .img-hover {
      cursor: pointer;
      transition: all ease 0.5s;
      filter: invert(1) grayscale(1) brightness(0.6);

      &:hover {
        /* IE 9 */
        -ms-transform: scale(1.21);
        /* Safari 3-8 */
        -webkit-transform: scale(1.21);
        transform: scale(1.21);
        filter: brightness(1);
      }
    }

  }

  // .custom-pagination-wrapper-class {

  //     .ant-pagination-next,
  //     .ant-pagination-prev,
  //     .ant-pagination-item {
  //         display: none !important;
  //     }

  //     .ant-pagination-options {
  //         margin: 0px !important;
  //         padding: 0px !important;
  //     }
  // }
  .custom-pagination-wrapper-class {
    .ant-select-single:not(.ant-select-customize-input) {
      .ant-select-selector {
        background: #FE5C36;
        border: 1px solid #D9DBE9;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
        border-radius: 0px;

        .ant-select-selection-item {
          font-size: $fs-14;
          font-weight: $fw-400;
          color: $title-color;
        }
      }

      .ant-select-arrow span svg {
        color: $title-color;
      }

      .ant-select-dropdown {
        // background: #F7F7FC;
        border: 1px solid #D9DBE9;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        padding: 0px;

        .ant-select-item-option-active {
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          border-radius: 0px;
        }

        .ant-select-item {
          border-radius: 0px;
          // background-color: #fff;

          &.ant-select-item-option {
            border-radius: 3px;
          }
        }

        .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
          background: #F7F7FC;
          // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }


    .ant-pagination-next,
    .ant-pagination-prev,
    .ant-pagination-item {
      display: none !important;
    }

    .ant-pagination-options {
      margin: 0px !important;
    }
  }

  .record-table {
    background-color: transparent;
  }

  .job-role-filters-wrapper {
    .app-select-wrap-class {
      .ant-select-selector {
        border-radius: 0px;
        border-top: 1px solid #D9DBE9;
        border-bottom: 1px solid #D9DBE9;
        border-left: none;
        border-right: none;

        &:hover {
          border-color: #D9DBE9 !important;
          box-shadow: none !important;
        }

        .ant-select-selection-placeholder,
        .ant-select-selection-item {
          font-size: 14px;
          font-weight: 400;
        }

      }
    }


    .ant-select-focused.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
      border-color: #D9DBE9 !important;
      box-shadow: none !important;
      outline: 0;
    }


    & :not(:first-child) {
      .filter-column {
        position: relative;

        &::after {
          content: "";
          height: 60%;
          width: 1px;
          // border-radius: 10px;
          display: block;
          position: absolute;
          bottom: 20%;
          top: 20%;
          left: 0;
          background: #4E4B66;
        }

        @media screen and (max-width:767px) {
          border-left: 1px solid #D9DBE9;
          border-right: 1px solid #D9DBE9;

          &::after {
            display: none;
          }
        }
      }
    }

    & :last-child {
      .filter-column {
        border-right: 1px solid #D9DBE9 !important;
      }
    }

    & :first-child {
      .filter-column {
        border-left: 1px solid #D9DBE9;

        @media screen and (max-width:767px) {
          border-right: 1px solid #D9DBE9;
        }
      }
    }


    @media (min-width: 768px) and (max-width:991px) {
      & :nth-child(odd) {
        .filter-column {
          border-left: 1px solid #D9DBE9;

          &::after {
            display: none;
          }
        }
      }

      & :nth-child(even) {
        .filter-column {
          border-left: none !important;
          border-right: 1px solid #D9DBE9 !important;
        }
      }

      & :nth-last-child(-n+2) {
        .not-a-border-col.filter-column {
          border-right: 1px solid #D9DBE9 !important;
        }
      }
    }


    @media screen and (min-width: 1199px) {
      & :nth-last-child(-n+1) {
        .filter-column {
          border-right: 1px solid #D9DBE9 !important;
        }
      }

      // & :nth-child(3):not(:last-child)+#not-a-border-col {
      & :nth-child(3):not(:last-child) {
        .filter-column {
          &.not-a-border-col {
            border-right: 1px solid #D9DBE9 !important;
          }
        }
      }
    }
  }



}

.common-setting-table {
  .ant-table {
    border: 1px solid #D9DBE9;
    padding: 0;
    border-radius: 10px !important;

    .ant-table-thead {
      tr {
        height: 65px;

        .ant-table-cell {
          background: none !important;
          font-weight: 600 !important;
          font-size: 14px !important;
          line-height: 17px !important;
          color: #4E4B66 !important;

          // border-bottom: 1px solid #D9DBE9 !important;
          &::before {
            background-color: #4E4B66 !important;
          }
        }
      }
    }

    .ant-table-tbody {
      tr {
        height: 71px;
        border-bottom: 1px solid #D9DBE9;

        .ant-table-cell {
          padding: 10px 16px !important;
        }

        &:last-child {
          border-bottom: none !important;

          td {
            border-bottom: none !important;
          }
        }
      }
    }
  }

}

.add-Manage-Job-Role {
  label {
    color: #6E7191;
  }

  input {
    border: 1.5px solid #A0A3BD;
    border-radius: 3px;
    // margin-bottom: 20px;
  }

  .ant-select-single .ant-select-selector {
    border: 1.5px solid #A0A3BD;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin-top: 2px;
  }

  svg {
    color: #4E132C;
  }

  .ant-btn-loading-icon {
    svg {
      color: white;
    }
  }

}

.app-select-popup-wrap-class {
  background: #F7F7FC;
  border: 1px solid #D9DBE9;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 0px;
  text-transform: capitalize;

  .ant-select-item-option-active {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      border-radius: 0px;
  }

  .ant-select-item {
      border-radius: 0px;
      background-color: #fff;

      &.ant-select-item-option {
          border-radius: 3px;
      }
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      background: #F7F7FC;
      // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  }
}