.staff-allocation-main-wrapper {
  .wrapper-top-cards {
    @mixin object-center {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }

    .top-cards {
      gap: 42px;
      flex-wrap: wrap;
      .single-card {
        flex-wrap: nowrap;
        background-color: white;
        min-width: 250px;
        flex: 1;
        gap: 25px;
        padding: 34px;
        border-radius: 8px;
        .img-wrapper {
          width: 60px;
          height: 60px;
          position: relative;
          border-radius: 50%;
          img {
            @include object-center();
          }
        }
        .card-count {
          margin: 0 0 6px 0;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 25.7441px;
          line-height: 34px;
          color: #000000;
        }
        .card-text {
          margin: 0;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #a6acbe;
        }
      }
    }
  }
  .wrapper-filters {
    // height: 171px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #d9dbe9;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 8px;
    margin-top: 32px;
  }
}

.class-restricted{
  opacity: 0.5;
  pointer-events: none !important;
  cursor: not-allowed !important;
  img{
    filter: invert(1) grayscale(1);
    opacity: 0.6;
  }
}