
.counter-plus-mins {

    .counter {
      display: flex;
      align-items: center;
      justify-content: center;
  
      .inc-btn {
        display: grid;
  
        .btn-puls {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          margin-bottom: 2px;
          background-color: #d9dbe98f;
          &:hover {
            background-color: #65cdf08f;
            color: #2496BC;
          }
        }
  
        .btn-mins {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
  background-color: #D9DBE9;
          &:hover {
            background-color: #ff4d4f40;
            color: #AD0A0C;
          }
        }
        div {
            border: none;
            
            color: #A0A3BD;
            cursor: pointer;
            width: 25px;
            height: 15px;
        
          }
        
          div:hover {
            background-color: #ddd;
          }
      }
    }
  
    .from-text,.to-text{
        color: #6E7191;
    }
  
    input {
      margin: 0 5px;
      border: 1px solid #A0A3BD;
      border-radius: 3px;
      width: 40px;
      height: 35px;
      text-align: center;
      appearance: none;
      -moz-appearance: textfield;
  
      /* Firefox */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
  
      &:hover,
      &:focus {
        outline: none;
      }
    }
  
  }