.setting-change-password{
    background: white;
    padding: 25px;
    @media only screen and (max-width: 767px) {
        padding: 12px;
   }
    h1{
        color: #14142B;
        margin-bottom: 30px;
    }
    label{
         color: #6E7191;
    }
    input{
        border: 1.5px solid #A0A3BD;
        border-radius: 3px;
        height: 45px;
        width: 500px;
        
        @media only screen and (max-width: 600px) {
            width: 100%;
       }
    }
    Button{
        height: 46px;
        &:hover{
            color: white !important;
        }
        @media only screen and (max-width: 767px) {
             padding: 12px 20px;
        }
    }
   
}