@import "../../sass/variables";

.dashboard {
  .ant-card .ant-card-body {
    padding: 26px;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 8px;
  }

  .ant-btn-default.ant-btn-dangerous {
    height: 36px !important;
  }

  }

 

  

